<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998788820087-e2rv0g1lukb547pfbnjk9jmbs52e66ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998788820087-e2rv0g1lukb547pfbnjk9jmbs52e66ka</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>998788820087-ps82uodfs5v9k86vev8o333cs7e7fksm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKMVsxYYkfLiwhdClDW5rW2nMABRB1vEA</string>
	<key>GCM_SENDER_ID</key>
	<string>998788820087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kazokuswitch.kazokuSwitch</string>
	<key>PROJECT_ID</key>
	<string>appkazoku-736b9</string>
	<key>STORAGE_BUCKET</key>
	<string>appkazoku-736b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998788820087:ios:8e82406fa1affca7e2ea72</string>
	<key>DATABASE_URL</key>
	<string>https://appkazoku-736b9.firebaseio.com</string>
</dict>
</plist>